@{
    ViewBag.Title = "注册成功！";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<!--middle of the content-->
<section class="cenlogo">
		<img src="/images/m-logo.png" />
	</section>
<!--The button-->
<section class="submitbon">
		<h2>注册成功！<br />请<strong>继续认证</strong>或登录www.shacong56.com<br />完成认证</h2>
		<a href="auth" class="confirm marbom">继续认证</a>
		<a href="###" class="later">退出，下次认证</a>
	</section>
